{% extends 'base-page.html' %}
{% load static %}
{% block title %}
  <title>HELBMorpion | Parties</title>
{% endblock %}

{% block pageContainer %}
  <div class="flex flex-col h-full gap-10 mt-4 p-5 mb-4">
    <div class="w-full">
      <a href="{% url 'creation_partie' %}"><button>Creer une partie</button></a>
    </div>

    <span class="font-extrabold text-2xl mt-10">Publics & Privees</span>
    <div class="grid grid-cols-2 gap-x-14 gap-y-8">

      {%for game in  games %}
        {% comment %} Partie item {% endcomment %}
        <div class="flex p-4 bg-white shadow-md rounded items-center gap-12">
          <div class="flex  items-center">
            <img alt="Morpion" class="h-[86px] w-[86px] rounded" src="{% static 'morpion.png' %}" />
            {% comment %}Morpion description{% endcomment %}
            <div class="flex flex-col justify-between flex-1 ps-4">
              <span class="font-semibold text-xl"> {{game.title}}</span>
              <span>Taille : <span class="font-medium">{{game.config.grid_size}} x {{game.config.grid_size}}</span></span>
              <span>Alignement : <span class="font-medium">{{game.config.alignment}}</span></span>
              <span>Type : <span class="font-medium">{{game.visibility}}</span></span>
            </div>
          </div>
          <button type="button">Rejoindre</button>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
