{% extends 'base-page.html' %}
{% load static %}
{% block title %}
  <title>HELBMorpion | Game play</title>
{% endblock %}

{% block pageContainer %}
  <div class="flex flex-col h-full gap-10 mt-4 p-5 mb-4 w-full">
    <div class="w-full bg-[#D9D9D9] p-2 min-w-96">
      <div class="flex flex-col justify-between flex-1 ps-4">
        <span class="font-semibold text-xl">{{ game.title }}</span>
        <span>Taille : <span class="font-medium">{{ game.config.grid_size }} x {{ game.config.grid_size }}</span></span>
        <span>Alignement : <span class="font-medium">{{ game.config.alignment }}</span></span>
        <span>Type : <span class="font-medium">{{ game.visibility }}</span></span>
      </div>
    </div>

    <div class="flex items-center justify-center flex-col gap-5">
      <div class="flex text-4xl">
        &#x25CD;  &#x25B3; &#x25B2; &#x25CE; &#x25CF; &#x25CC; &#x25FB; &#x25FC; &#x25CB; &#x25C6;
      </div>
      <div class="flex text-xl">
        <p>
          <span id="playerTurnMessage" class="text-red-600">{{game.current_player.name}}</span> c'est a ton tour de jouer
        </p>
      </div>
      <table class="border-separate w-fit border-spacing-1">
        {% for row in game.board %}
          <tr>
            {% for cell in row %}
              <td class="w-[94px] h-[94px] bg-slate-500  rounded" >
                <div  class="w-full  h-full flex items-center justify-center text-4xl" data-row="{{ forloop.parentloop.counter0 }}" data-col="{{ forloop.counter0 }}"  onclick="makeMove(this,{{game.id}})" > 
                  {% comment %} △ {% endcomment %}
                  {% comment %} {{i}},{{j}} {% endcomment %}
                  {{ cell|default:"" }}
                </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <button type="button">Abandoner</button>
    </div>
  </div>
{% endblock %}
