{% extends 'base-page.html' %}
{% load static %}
{% load template_filters %}
{% block title %}
  <title>HELBMorpion | Game play</title>
{% endblock %}

{% block pageContainer %}
  <div class="flex flex-col h-full gap-10 mt-4 p-5 mb-4 w-full">
    <div class="w-full bg-[#D9D9D9] p-2 min-w-96">
      <div class="flex flex-col justify-between flex-1 ps-4">
        <span class="font-semibold text-xl">{{ game.title }}</span>
        <span>Taille : <span class="font-medium">{{ game.config.grid_size }} x {{ game.config.grid_size }}</span></span>
        <span>Alignement : <span class="font-medium">{{ game.config.alignment }}</span></span>
        <span>Type : <span class="font-medium">{{ game.visibility }}</span></span>

        {% if game.player1 %}
          <span>Player 1 : <span class="font-medium">{{ game.player1.name }} {{ game|get_symbol_player_id:game.player1.id }}</span></span>
        {% endif %}

        {% if game.player2 %}
          <span>Player 2 : <span class="font-medium">{{ game.player2.name }} {{ game|get_symbol_player_id:game.player2.id }}</span></span>
        {% endif %}
      </div>
    </div>

    <div class="flex items-center justify-center flex-col gap-5">
      {% if not hasSymbol %}
        <form method="post" action="" class="bg-white shadow-md rounded px-14 pt-6 pb-8 mb-4">
          {% if has_error %}
            <div class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Error !</strong>
              <span class="block sm:inline text-xs">Le symbole {{ symbol_icon }} est deja utiliser, veuillez choisir un autre</span>
            </div>
          {% endif %}

          {% csrf_token %}
          <div class="flex gap-4">
            <div class="form-group">
              <label for="symbol">Veuillez choisir votre symbole</label>
              <select id="symbol" name="symbol" class="visibility" onchange="form.submit()">
                <option selected disabled>Choisir votre symbole</option>
                <option value="&#x25CD;">&#x25CD;</option>
                <option value="&#x25B3;">&#x25B3;</option>
                <option value="&#x25CE;">&#x25CE;</option>
                <option value="&#x25CF;">&#x25CF;</option>
                <option value="&#x25CC;">&#x25CC;</option>
                <option value="&#x25FB;">&#x25FB;</option>
                <option value="&#x25FC;">&#x25FC;</option>
                <option value="&#x25CB;">&#x25CB;</option>
                <option value="&#x25C6;">&#x25C6;</option>
              </select>
            </div>
          </div>
        </form>
      {% else %}
        <div class="flex text-xl">
          {% if game.status == 'FINISHED' %}
            <div class="flex flex-col gap-3">
              <span class="text-green-600">PARTIE TERMINEE !!!</span>
              <span><span class="text-green-900">{{ game.current_player.name }}</span> a gagner la partie</span>
            </div>
          {% else %}
            <p>
              <span class="text-red-600">{{ game.current_player.name }}</span> c'est a ton tour de jouer
            </p>
          {% endif %}
        </div>
        <table class="border-separate w-fit border-spacing-1">
          {% for row in game.board %}
            <tr>
              {% for cell in row %}
                <td class="w-[94px] h-[94px] bg-slate-500 rounded">
                  <div class="w-full h-full flex items-center justify-center text-4xl" data-row="{{ forloop.parentloop.counter0 }}" data-col="{{ forloop.counter0 }}" onclick="makeMove(this,{{ game.id }})">
                    {{ game|get_symbol_player_id:cell|default:'' }}
                  </div>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
        {% if game.status != 'FINISHED' %}
          <a href="{% url 'left_game' game.id %}"><button type="button">Abandoner</button></a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
