{% load compress %}
{% load static %}

 
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} <link href="{% static "style/style.css" %}" rel="stylesheet"> {% endcomment %}

{% compress css %}
  <link href="{% static "src/output.css" %}" rel="stylesheet">
{% endcompress %}

{% block title %}
<title>HELBMorpion</title>
{% endblock title %}
</head>

<body>

    {% block content %}

    {% endblock content %}
 
</body>

</html>